#login-content {
  width: 100%;
  height: 770px;
  background: url(../static/login/images/login_bg.jpg) center center no-repeat; }
  #login-content .login-main {
    width: 1200px;
    height: 100%;
    margin: 0 auto; }
    #login-content .login-main .login-box {
      width: 427px;
      min-height: 436px;
      background-color: #fff;
      margin-top: 180px;
      float: right;
      border-radius: 10px;
      padding: 0 28px 25px; }
